@charset "UTF-8";

/* 메인 */

.wrap{min-width: 360px;overflow: hidden;margin: 0 auto;}

header{position: fixed;top:0;left:0;right:0;display: flex;align-items: center;height: 29px;padding:0 20px;background: #fff;box-sizing: border-box;z-index: 10;}
header .lt{display: inline-flex;align-items: center;}
header .lt select{margin-left: 8px;padding-right: 20px;font-size: 18px;font-weight: 600;background: transparent url(../images/ico_select_w.svg) no-repeat center right;appearance: none;color:#fff}
header .lt select option{color:#212121}
header .lt h1 { display: flex;align-items: center;justify-content: center;} 
header .lt h1 a { display: block;width: 29px;height: 27px; background: url(../images/logo.png) no-repeat center; font-size: 0;background-size: 29px;} 
header .rt{margin-left: auto;display: inline-flex;align-items: center;gap: 16px;}
header .rt button{width: 24px;height: 24px;position: relative;}
header .rt button span{width: 16px;height: 16px;position: absolute;background: #F97327;top:-3px;right:-4px;border-radius: 50%;color:#fff;font-size: 10px;text-align: center;line-height: 14px;}
header .rt .btn_alarm{background: url(../images/ico_alarm.svg) no-repeat center;font-size: 0;}
header .rt .btn_cart{background: url(../images/ico_cart.svg) no-repeat center;font-size: 0;}

section{box-sizing: border-box;}
.sec_inner{position: relative;padding: 0 85px;}


.wrap.main{padding-top: 29px;}
.main header{background: #00CF9D}
.main .main_top{padding: 10px 20px 56px;background: #00CF9D}
.main_top .list_menu{margin: 0 -20px;padding:8px 20px}
.main_top .list_menu li{border-color:transparent}
.main_top .list_menu li.icon a{padding-left: 8px;}
.main_top .list_menu li.icon a::before{content: '';width: 24px;height: 24px;display: inline-block;margin-right: 8px;opacity: 0.6;}
.main_top .list_menu li.icon a.on::before{opacity: 1;}
.main_top .list_menu li.icon:nth-child(1) a::before{background: url(../images/ico_listmenu01.png) no-repeat center;background-size: 24px;}
.main_top .list_menu li.icon:nth-child(2) a::before{background: url(../images/ico_listmenu02.png) no-repeat center;background-size: 24px;}
.main_top .list_menu li.icon:nth-child(3) a::before{background: url(../images/ico_listmenu03.png) no-repeat center;background-size: 24px;}
.main_top .list_menu li.icon:nth-child(4) a::before{background: url(../images/ico_listmenu04.png) no-repeat center;background-size: 24px;}

.main_top .main_sch{display: flex;align-items: center;margin-top: 14px;height: 48px;background: #fff;border-radius: 24px;padding:12px 16px;box-sizing: border-box;}
.main_top .main_sch input{height: 24px;color:#212121;font-size: 16px;flex:1;}
.main_top .main_sch input::placeholder{color:#dbdbdb}
.main_top .main_sch .btn_sch{flex:none;width: 24px;height: 24px;background: url(../images/ico_sch.svg) no-repeat center;}

.sec_cate{padding:32px 20px 30px;border-radius: 16px 16px 0 0;background: #fff;margin-top: -16px;border-bottom:8px solid #F2F2F2}
.list_cate{display: grid;grid-template-columns: repeat(4, 1fr);padding: 0 22px;}
.list_cate li{display: inline-flex;align-items: center;justify-content: center;margin-bottom: 20px;}
.list_cate li a{text-decoration: none;}
.list_cate li img{border-radius: 50%;}
.list_cate li p{text-align: center;font-size: 12px;margin-top: 6px;}
.btn_cate{display: flex;align-items: center;justify-content: center;width: 100%;height: 42px;border: 1px solid #e0e0e0;border-radius: 4px;color:#828282;background: #fff;margin-top: 16px;font-size: 14px;}
.btn_cate::after{content: '';width: 16px;height: 16px;display: inline-block;background: url(../images/ico_btn_cate.svg) no-repeat center;margin-left: 4px;}

.list_menu{display: flex;align-items: center;padding:8px 0;gap:8px;overflow: auto;}
.list_menu li{flex:none;border:1px solid #e0e0e0;background: rgba(255,255,255,0.8);box-sizing: border-box;border-radius: 8px;}
.list_menu li a{display: inline-flex;align-items: center;justify-content: center;height: 32px;padding:0 16px;font-size: 14px;color:#4f4f4f;text-decoration: none;}
.list_menu li.on{border-color:#000;background: #fff;}
.list_menu li.on a{color:#212121}

.sec_product{padding: 20px;}
.sec_product .grp_tit{display: flex;align-items: center;}
.sec_product .grp_tit h2{font-size: 18px;font-weight: 600;}
.sec_product .grp_tit .rt{margin-left: auto;}
.sec_product .grp_tit .rt select{font-size: 13px;color:#828282;padding-right: 18px;background: transparent url(../images/ico_select_s.svg) no-repeat center right;appearance: none;}
.sec_product .grp_tit .rt select option{color:#212121}
.sec_product .grp_banner{margin-top: 32px;}

.list_product{margin-top: 8px;display: grid;grid-template-columns: 1fr 1fr;gap: 16px 8px;}
.list_product li .grp_img{position: relative;}
.list_product li .grp_img a{display: block;}
.list_product li .grp_img img{width: 100%;vertical-align: top;}
.list_product li .grp_img .btn_add{position: absolute;right:8px;bottom:8px;width: 26px;height: 26px;border-radius: 50%;background: #fff url(../images/ico_btn_add.svg) no-repeat center;z-index: 10;}
.list_product li > a{display: block;margin-top: 10px;text-decoration: none;}
.list_product li > a .tit{font-size: 13px;}
.list_product li > a .rg_price{font-size: 13px;margin-top: 5px;color: #828282;text-decoration: line-through;}
.list_product li > a .grp_discount{margin-top: 2px;display: flex;align-items: center;}
.list_product li > a .grp_discount .percent{margin-right: 6px;font-size: 14px;font-weight: 700;color:#F97327;}
.list_product li > a .grp_discount .price{font-size: 14px;font-weight: 700;}

.grp_banner{display: flex;align-items: center;padding: 20px;height: 80px;border-radius: 10px;background: rgba(141, 207, 0, 0.20);box-sizing: border-box;}
.grp_banner .grp_txt{flex:1;}
.grp_banner .grp_txt .tit{font-size: 14px;font-weight: 600;letter-spacing: -0.2px;color:#333}
.grp_banner .grp_txt .txt{font-size: 14px;letter-spacing: -0.2px;color:#828282;margin-top: 5px;}
.grp_banner img{flex:none}